#Gerber files
*.gbl
*.gbo
*.gbs
*.gml
*.gtl
*.gto
*.gts
*.gtp
*.gbp
*.ger
*.gpi
*.dri
*.xln
vetinari.txt

#Eagle files
*.epf
*.b#?
*.s#?
*.do
*.pro

#Other files
*.zip
*.xls
Thumbs.db

#always include
!schematic.png
